    window-rule {
        geometry-corner-radius 5
        clip-to-geometry true
        draw-border-with-background false
        opacity 0.8

        background-effect {
            xray true
            blur true
        }
    }

     // if you use steam you will probably like these
    window-rule {
        match app-id="steam"
        exclude title=r#"^[Ss]team$"#
        open-floating true
    }

    // for zen browser
    window-rule {
        match app-id="zen"
        open-maximized true
    }

    window-rule {
       match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
       default-floating-position x=10 y=10 relative-to="bottom-right"
       open-focused false
    }

    // Herdr window rule
    window-rule {
        match app-id="herdr"
        open-maximized true
    }

    // system update manager
    window-rule {
        match app-id="update-manager"
        open-floating true
        default-floating-position x=0 y=100 relative-to="top"
        default-column-width { fixed 900; }
        default-window-height { fixed 500; }
        open-focused true
    }

    // uninstall package manager
    window-rule {
        match app-id="pkg"
        open-floating true
        default-floating-position x=0 y=100 relative-to="top"
        default-column-width { fixed 1000; }
        default-window-height { fixed 200; }
        open-focused true
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
